.Process
	max-width 700px
	// border 1px solid #6D6D6D
	border-radius 5px
	margin 3em auto
	background white
	padding-bottom 1em
	&__art
		text-align center
	&__head
		h1
			border-radius 4px 4px  0 0
			background-color #40DCAA
			padding .7em 0
			color white
			font-size 2em
			margin 0 0 .5em 0
		h2
			margin 1.5em 0
			color gris__subtitulo
	&__btn
		width 80%
		margin 0 auto
		max-width 400px
		a
			display block
			text-decoration none
			color white
			padding 1em
			font-size 1.5em
			font-weight bold
			background-color #00E2D4
			border-radius 5px
			border-bottom 4px solid #00D3C5
			&:hover
				background #1EFBED
				border-bottom 4px solid #045651
	&__text
		p
			margin 2em 0
			color gris_letra
			span
				font-weight bold