*
	margin 0
	padding 0
html
	font-family 'Arial', sans-serif	
	font-size 16px
body
	margin 0
	padding 0
	background #f2f2f2
// variables
gris_title=#3a3a3a
gris__subtitulo = #464646
gris_titulo=#f4f5f6
gris_letra=#171717
celeste_cromlu=#36E3FF

@import 'nib'
@import 'formulario.styl'
@import 'header.styl'
// @import 'footer.styl'

.numero-ico
	background black
	width 30px
	height 30px
	border-radius 50%
	text-align center
	display inline-block
	color white
	font-size 1.5em
	line-height 30px

