*
  margin 0
  padding 0

html
  font-size 16px
  font-family 'Arial' sans-serif

body
  background #d3d3d3
  
.Header
  &_main
    background #4a4790
    width 100%
    height auto
    background-image url("../images/back.jpeg")
    -webkit-background-size cover
    -moz-background-size cover
    background-size cover
    background-repeat no-repeat

  &_nav
    display none
    padding-top 4.3em
    background #f94a4a
    .nav_list
      display block
      text-align center
    .nav_item
      list-style none
    .nav_link
      text-decoration none
      display block
      padding 1em 1.2em
      color #fff
      font-size 1.2em
      &:hover
        background #292929

  &_avatar
    text-align center
    padding-top 2em
    img
      -webkit-border-radius 50%
      border-radius 50%

  &_Autor-box
    padding-top 4em

  &_box--nav
    background #f94a4a
    width 100%
    height auto
    padding-top .5em
    padding-bottom .5em
    position fixed
    .box--nav__logo
      display inline-block
      margin-left 1em
    .box--nav__menu
      display inline-block
      float right
      position absolute
      top 25px
      right 0
      a
        color #fff
        text-transform uppercase
        text-decoration none
        padding 1.7em 1.5em
        &:hover
          background #fff
          color #000

.Autor
  text-align center
  padding-top 1em
  padding-bottom 1.5em
  p
    font-size 1.5em
    color #fff
  &_name
    font-size 2.4em
    text-transform uppercase
    color #fff

.about-me
  background #ffff72
  &__box
    text-align center
    padding-top 2em

  &__content
    display block
    h2
      font-size 2.5em
      color #ff3939
    p
      font-size 1.3em
      text-align left
      padding 15px

  &__avatar
    display block
    .me__img
      display block
    .me__twitter
      font-size 2em
      color #fff
      text-decoration none
      &:hover
        color #f94a4a

.skill
  background #FF7676
  &__box
    text-align center
    padding-top 1em
    h2
      font-size 2.3em
      text-transform uppercase
      padding-top .5em
      padding-bottom .5em
      color #191919
  &__one
    display block
    padding-bottom 2em
    h3
      font-size 1.5em
    p
      font-size 1em
  &__one--img
    img
      max-width 100%
    :hover
      -webkit-box-shadow rgba(200, 200, 200, 0.8) 0 0 23px
      box-shadow rgba(200, 200, 200, 0.8) 0 0 23px
      
.portafolio
  background #87ceeb
  &__box
    text-align center
    padding-top 1em
    h2
      font-size 2.3em
      text-transform uppercase
      padding-top .5em
      padding-bottom .5em
      color #191919
  &__one
    display block
    h3
      font-size 1.5em
    p
      font-size 1em
  &__one--img
    img
      max-width 100%
    :hover
      -webkit-box-shadow rgba(255, 39, 39, 0.8) 0 0 23px
      box-shadow rgba(255, 39, 39, 0.8) 0 0 23px

.contactos
  background #2CFF9F
  &__box
    text-align center
    padding-top 1em
    padding-bottom 3em
    h2
      font-size 2.3em
      text-transform uppercase
      padding-top .5em
      padding-bottom .5em
      color #191919
  &__me
    margin 1em
  &__meText
    font-size 1.5em
    span
      font-weight bold

  &_networking
    display inline-block
    padding-top .5em
    .networking__item
      display inline-block
      img
        max-width 100%

.Main_footer
  width 100%
  background #000250
  color #fff
  text-align center
  padding-top 2em
  padding-bottom 2em
  

@media (min-width 768px)
  .Header
    &__main
      height 400px
    &_box--nav
      display none
    &_nav
      display block
      .nav_item
        display inline-block
    &_nav
      padding-top 0
      
  .skill
    background #FF7676
    &__box
      text-align center
      h2
        font-size 3.3em
    &__one
      display inline-block
      width 40%
      margin-right 1em
      padding-bottom 2em
      vertical-align top

  .portafolio
    background #87ceeb
    &__box
      text-align center
      padding-top 1em
      h2
        font-size 3.3em
    &__one
      display inline-block
      width 40%
      margin-right 1em
      padding-bottom 2em
  .contactos
    background #2CFF9F
    &__box
      h2
        font-size 3.3em
        
@media (min-width 1000px)
  .Header
    &__manin
      height 400px
    &_nav
      padding-top 0
    
  .skill 
    background #FF7676
    &__box
      text-align center
      h2
        font-size 3.3em
    &__one
      display inline-block
      width 31%
      margin-right 1em
      padding-bottom 2em

  .portafolio
    background #87ceeb
    &__box
      text-align center
      padding-top 1em
      h2
        font-size 3.3em
    &__one
      display inline-block
      width 31%
      margin-right 1em
      padding-bottom 2em

  .contactos
    background #2CFF9F
    &__box
      h2
        font-size 3.3em

@media (min-width 1020px)
  .Header
    &_Autor-box 
      padding-top 3em
    &_main
      padding-bottom 19em
      height 400px

    &_avatar
      img
        width 250px
        height 250px

  .Autor
    &_name
      font-size 2.9em
    &
      p
        font-size 2em

  .about-me
    background #ffff72
    &__box
      text-align center
      padding-top 2em
      padding-bottom 2em
      margin 0 auto
    &__content
      display inline-block
      width 622px
      vertical-align top
      // margin-top 5em
      h2
        font-size 3.5em
      p
        font-size 1.5em
    &__avatar
      display inline-block
      width 24%

