.Header {
  padding-top: 2em;
}
.Header__box {
  text-align: center;
}
.Header__avatar img {
  width: 90%;
  max-width: 250px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.Header__title {
  margin: 1em 0;
}
.Header__nombre {
  font-size: 2em;
  margin-bottom: 0.23em;
  color: #fff;
}
.Header__p {
  color: #fff;
}
.Header__twitter {
  color: #fff;
}
.Header__nav {
  width: 100%;
}
.Header__link {
  width: 100%;
}
.Header__a {
  font-size: 1.6em;
  padding: 0.5em;
  display: block;
  text-decoration: none;
  color: #fff;
  -webkit-transition: 0.15s;
  -moz-transition: 0.15s;
  -o-transition: 0.15s;
  -ms-transition: 0.15s;
  transition: 0.15s;
}
.Header__a:hover {
  color: #00144c;
  background-color: #fff;
}
.Footer-Main__box {
  text-align: center;
  color: #fff;
}
.Footer-Main__box a {
  text-decoration: none;
  color: #ffc800;
}
.texto {
  margin-bottom: 2em;
  width: 100%;
  display: inline-block;
  vertical-align: top;
}
.texto h2 {
  margin-bottom: 0.5em;
}
.texto p {
  font-size: 1.2em;
}
.image {
  width: 100%;
  display: inline-block;
}
.image img {
  width: 100%;
}
.Abilities {
  padding: 0 1em;
}
.Abilities__content {
  padding: 1em 0;
  margin: 0 auto;
}
.Abilities__title h2 {
  font-size: 2.5em;
  color: #373737;
}
.Abilities__steps {
  padding: 1em 0;
  border-bottom: 8px dashed rgba(0,110,189,0.82);
  margin: 0 auto;
}
.Abilities__title2 h2 {
  font-size: 2em;
  color: #373737;
}
@media screen and (min-width: 1000px) {
  .texto {
    text-align: left;
    margin-right: 2%;
    display: inline-block;
    margin-bottom: 2em;
    width: 45%;
  }
  .image {
    width: 45%;
    display: inline-block;
  }
  .image img {
    width: 100%;
  }
  .Abilities__content {
    text-align: center;
  }
  .Abilities__steps {
    text-align: center;
    margin: auto;
  }
  .Abilities__text2 {
    float: right;
  }
  .Abilities__image2 {
    margin-left: 3%;
    float: left;
  }
}
.Contact {
  padding: 2em 1em;
}
.Contact__text h2 {
  margin-bottom: 0.5em;
  font-size: 2.5em;
}
.Contact__text p {
  font-size: 1.2em;
}
.Contact__form {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 2em auto;
  padding: 2em 2em 1em 2em;
  background: rgba(64,77,113,0.35);
  width: 80%;
}
.Contact__form form label {
  font-size: 1.5em;
  display: block;
}
.Contact__form form input {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0.5em auto 1.5em auto;
  display: block;
  width: 100%;
  padding: 0.7em 0.4em;
}
.Contact__form form .Btn-enviar {
  text-decoration: none;
  font-size: 1.4em;
  font-weight: bold;
  background-color: #003a6c;
  border-bottom: 4px solid #00144c;
  color: #fff;
}
.Contact__form form .Btn-enviar:hover {
  cursor: pointer;
  background-color: #3498db;
  border-bottom: 4px solid #21618c;
}
.Preparation {
  width: 100%;
}
.Preparation__box {
  padding: 2em 1em 1em;
  border-bottom: 8px dashed rgba(0,110,189,0.82);
}
.Preparation__text h2 {
  margin-bottom: 0.5em;
  font-size: 2.5em;
}
.Preparation__text p {
  font-size: 1.2em;
}
.Preparation__image {
  margin: 3em auto;
  width: 75%;
}
.Preparation__image img {
  width: 100%;
}
.Portafolio {
  border-bottom: 8px dashed rgba(0,110,189,0.82);
  padding: 2em 0 4em 0;
  width: 100%;
}
.Portafolio__text {
  padding: 1em;
}
.Portafolio__text h2 {
  margin-bottom: 0.5em;
  font-size: 2.5em;
}
.Portafolio__text p {
  margin-bottom: 0.5em;
  font-size: 1.2em;
}
.Portafolio__job {
  width: 100%;
}
.Portafolio__job figure {
  margin: 1em auto;
  width: 80%;
}
.Portafolio__job figure img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .Portafolio {
    width: 100%;
  }
  .Portafolio__job figure {
    margin: 0;
    display: inline-block;
    width: 49.6%;
  }
  .Portafolio__job figure img {
    width: 100%;
  }
}
@media screen and (min-width: 1000px) {
  .Portafolio__job figure {
    width: 32.9%;
  }
}
.video {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  overflow: hidden;
}
iframe,
object,
embed,
video {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  left: 0;
}
.Learn {
  border-bottom: 8px dashed rgba(0,110,189,0.82);
  padding: 2em 0;
}
.Learn__text {
  padding: 0 1em;
}
.Learn__text h2 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}
.Learn__text p {
  font-size: 1.2em;
}
.Learn__box {
  width: 100%;
}
.Learn__video {
  margin-bottom: 1em;
  display: inline-block;
  width: 100%;
  height: auto;
}
.Learn__videoBox {
  margin: 2em auto;
  width: 80%;
}
* {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}
.Header-fixed {
  background: #00144c;
  height: 660px;
}
.Body_Main {
  background: #eee;
}
@media screen and (min-width: 768px) {
  body {
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
  }
  .Header-fixed {
    width: 30%;
    display: inline-block;
    text-align: top;
    position: fixed;
    height: 100vh;
  }
  .Body_Main {
    width: 70%;
    margin-left: 30%;
  }
}
